body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #28B463;
}
.quem-somos{
   background-color:#5DADE2; 
   color: white;
}
.margim{
    /*padding-top:30px;*/
    padding-bottom: 50px;
}
.parceiros{
    background-color:#AED6F1 ;
}
.bg-footer{
    background-color:black ;
    color: white;
}
img{
    margin-bottom:30px;
}